#img1{
    position: absolute;
    left: 1050px;
}
.border{
    margin-top: 15px ; 
    border: 3px solid black;
}
.snake{
    border: 1px solid gray;
    border-radius: 50%;
    background-color: gray;
    top: 30px;
}
.food{
    border: 1px solid blue;
    background-color: blue;
}
#information{
    position: absolute;
    left: 1200px ;
    top: 440px ;
    font-size: 20px;
}