#img1{
   width: 485px;
   height: 715px;
}
h2{    
    position: absolute;
    font-size: 50px;
    margin-left: 1150px;
    top : -30px
}
h4{
    position: absolute;
    font-size: 20px;
    bottom: 580px;
    margin-left: 1050px;
}
#id1{
    display: inline;
    position: absolute;
    font-size: 20px;
    bottom: 550px;
    margin-left: 1050px;
}
#id2{
    display: inline;
    position: absolute;
    font-size: 20px;
    bottom: 480px;
    margin-left: 1050px;
    color:rgb(235, 29, 29) ;
}